<% if flash[:notice] %>
<p><%= flash[:notice]%></p>
<%end%>

<h1>Customer list</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>      
      <th></th>
    </tr>
  </thead>
  <tbody>
   <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= link_to "Show", customer_path(customer) %></td>
      <td><%= link_to "Edit", edit_customer_path(customer) %></td>
      <td><%= link_to "Delete", customer, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <%end%>
  </tbody>
  <tfoot>
    <tr>
      <th><%= link_to  "New Customer", new_customer_path %></th>
    </tr>
  </tfoot>
</table>